.website_services .spb_content_element { padding-left:0px !important; padding-right:0px !important; background-color:#7f797b !important; text-align:center !important;}
.website_services .threebox {background-color:#7f797b !important; border:0px !important; }
